body {
    margin: 0;
    padding: 0;
}

#discount {
    background-color: #ed484c;
    color: black;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

#discount p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

#offer {
    margin: 0;
}

#nav img {
    margin: 10px 15px;
    height: 50px;
    width: 75px;
}

#nav {
    display: flex;
    justify-content: space-between;
    background-color: #4c4c4c;
    margin-top: 5px;
}

nav {
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}


  


#about {
    background-color: #f18d97;
    background-image: url('images/floral.png');
    text-align: center;
}

/* Font weight */

#about p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

hr {
    width: 55%;
    border: 0.5px solid black;
}

h1 {
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 60px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}

button {
    color: #f18d97;
    background-color: black;
    height: 70px;
    width: 200px;
    border: none;
    margin: 25px;
    font-size: 20px;
}

#our-services {
    background-image: url('images/floral.png');
    text-align: center;
    padding-bottom: 2em;
}

#services {
    display: flex;
    justify-content: center;
}

#services i {
    font-size: 7em;
}

#our-services h3 {
    padding-top: 1em;
}

#services i:hover {
    color: red;
}

@media only screen and (max-width:500px) {
    #services {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#portfolio {
    text-align: center;
    background-color: #ddceb4;
    background-image: url('images/floral.png')
}

#portfolio {
    padding-top: 1em;
    padding-bottom: 5em;
}

#portfolio p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-family: 'Lobster', cursive;
    font-size: 35px;
}

#services p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
}

#services figure {
    padding: 20px;
}

#services h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

span {
    display: block;
}

#projects {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px;
    grid-gap: 5em;
    margin-left:100px;
}

#projects div {
    height: 300px;
    width: 300px;
    background-repeat: no-repeat;
    border-radius: 20px;
   
}

#project-1 {
    background-image: url('images/projects/p-1.png');
    background-size: 521px;
}

#project-2 {
    background-image: url('images/projects/p-2.png');
    background-size: 521px;
}

#project-3 {
    background-image: url('images/projects/p-3.png');
    background-size: 521px;
}

#project-4 {
    background-image: url('images/projects/p-4.png');
    background-size: 521px;
}

#project-5 {
    background-image: url('images/projects/p-5.png');
    background-size: 521px;
}

#project-6 {
    background-image: url('images/projects/p-6.png');
    background-size: 521px;
}

 #projects figcaption{
    
    background-color: #00000070;
    position: absolute;
    top: 0;
    border-radius:20px;
    height: 300px;
    width: 300px;
    display:none;
}
#projects figure{
    position:relative;

}

h4{
    font-family: 'Montserrat', sans-serif;
    color:white;
    margin-top: 60px;

}

#projects figcaption i{
    color:white;
    border:1px solid white;
    border-radius:100%;
    padding:10px;
    font-size:2em;
    margin:10px;
    /* height: 50px;
    width:50px; */

}

#projects figcaption i:hover{
    background-color: white;
    color: black;
}

#projects figure:hover figcaption{
    display:block;
}

#contact{
    text-align: center;
    background-color: #a8bfbe;
    background-image: url('images/floral.png');
    padding-bottom: 2em;
}

#contact h3{
    margin:0;
    padding-top:2em;
}

#contact i{
    font-size:2.5em;
    border:1px solid black;
    border-radius:100%;
    padding:10px;
    margin-right:10px;
}

#contact i:hover{
    background-color: black;
    color:#fcdea6;
}

footer{
    background-color:#222222;
    text-align: center;
}

footer p{
    color:white;
    margin:0;
    padding-top:50px;
    padding-bottom:50px;
}

footer i{
    padding: 4px;
}

footer:hover i{
    color:red;
}